COMPOSE_PROJECT_NAME=fleetpulse

MAVEN_IMAGE=maven:3.9.13-eclipse-temurin-21-alpine
JAVA_RUNTIME_IMAGE=eclipse-temurin:21.0.11_10-jre-alpine-3.22

POSTGRES_VERSION=17.10-alpine3.23
POSTGRES_DB=fleetpulse
POSTGRES_USER=fleetpulse
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

FLYWAY_VERSION=13.0.0-alpine

REDIS_VERSION=8.2.8-alpine
REDIS_PASSWORD=change-me
REDIS_PORT=6379

KAFKA_VERSION=4.3.1
KAFKA_PORT=9092

FLEET_API_PORT=8080
GATEWAY_TCP_PORT=7000
GATEWAY_HTTP_PORT=8081
PROCESSOR_HTTP_PORT=8082

PROMETHEUS_VERSION=v3.7.3
PROMETHEUS_PORT=9090

GRAFANA_VERSION=12.3.1
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me
